<div class="blog_content">
  <div class="blog_content_inner">
    <div class="blog_content_inner_header">
      <nav class="blog_content_inner_header_image">
      <img src="{{blog.bgImage}}">
      </nav>
      <div class="blog_content_inner_header_loft">
        <nav class="blog_content_inner_header_back" [routerLink]="['/blogs', 'content']">&#8592; Back</nav>
        <div *ngIf="blog.favourite == false;else loveActive"><img style="cursor: pointer" (click)="love(blog)" width="38" src="./assets/love.png" alt="Love"></div>
        <ng-template #loveActive>
          <img (click)="removeLove(blog)" style="cursor: pointer" width="38" src="./assets/love_active.png" alt="Love">
        </ng-template>
      </div>
    </div>
    <div class="blog_content_inner_main">
      <h3 class="blog_content_inner_main_title">{{blog.title}}</h3>
      <nav>
        <img src="{{blog.img}}" alt="">
      </nav>
      <nav>{{blog.body}}</nav>
    </div>
  </div>
</div>
