.friends{
  display: flex;
  flex-direction: column;
  .friends_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    .friends_head_log{
      font-size: 1.5rem;
      font-weight: 600;
    }
    .friends_main_navbar{
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      justify-content: space-between;
      .friends_main_navbar_inner{
        padding: 9px;
        cursor: pointer;
      }
    }
  }
  .friends_main{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    .friends_main_people {
      display: flex;
      justify-content: center;
    }
  }
}


.active{
  border-bottom: 1px solid black;
}
.loading{
z-index: -5;
position: absolute;
left: 45%;
}

