<div class="blog">
  <div class="blog_log_choice">
    <nav class="blog_log_choice_type" [routerLink]="['content']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Content</nav>
    <nav class="blog_log_choice_type" [routerLink]="['photos']" routerLinkActive="active">Photos</nav>
    <nav class="blog_log_choice_type" [routerLink]="['people']" routerLinkActive="active">Find Friends</nav>
    <nav class="blog_log_choice_type" [routerLink]="['music']" routerLinkActive="active">Music</nav>
  </div>
  <div class="blog_content">
    <router-outlet></router-outlet>
  </div>
</div>


