.about-friend{
  animation: open 0.7s;
  height: 100vh;
  z-index: 99999;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  .user_inner {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    .user_inner_head {
      width: 77%;
      margin: 0 auto;
      .head_img {
        position: relative;
        max-width: 1280px;
        height: 360px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .head_img_me {
        position: absolute;
        bottom: -18%;
        left: 43%;

        img {
          width: 170px;
          height: 170px;
          border-radius: 50%;
        }
      }

      .user_info {
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        .user_info_back{
          background-color: black;
          color: white;
          font-size: 1.3rem ;
          width: 8%;
          cursor: pointer;
          border: 1px solid white;
          padding: 8px;
        }
        .user_info_back:hover{
          background-color: white;
          color: black;
          transition: all 0.5s ease-in;
          border: 1px solid black;
        }
        .user_info_txt {
          font-weight: 600;
          font-size: 1.3rem;
        }

        .user_info_inner {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .user_info_friend {
            cursor: pointer;

            .user_info_friend_sircle {
              display: flex;
              flex-direction: row;

              .sircle_info {
                margin-left: -5px;

                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
      hr{
        margin-bottom: 10px;
      }
      .user_navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        .user_navbar_inner{
          cursor: pointer;
          padding: 7px;
        }
        .user_navbar_inner:hover{
          background-color: #8a8989;
          border-radius: 12px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .user_content{
      margin-top: 20px;
    }
  }
}


@keyframes open {
  from{
    transform: translateY(300px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
